body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.celebrityName {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  margin: 10px 0 10px 0;
  
}
